<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-BGP259EN9Y"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BGP259EN9Y');
      </script>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="./style.css">
      <script src="https://cdn.tailwindcss.com"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
      <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
      <script src="https://www.desmos.com/api/v1.7/calculator.js?apiKey=296e9d0d244b4835b87cfba555a952c1"></script>
      <!-- Primary Meta Tags -->
      <title>{{ title }}</title>
      <meta name="title" content="Econ.vision - Envision economic models.">
      <meta name="description" content="Unlock the hidden depths of economics by embracing the power of visualization. Let graphs and charts be your guide, and discover a new world of understanding, analysis, and insight.">
      <link rel="icon" type="image/png" href="./img/logo.png">
      <!-- Open Graph / Facebook -->
      <meta property="og:type" content="website">
      <meta property="og:url" content="https://econ.vision/">
      <meta property="og:title" content="Econ.vision - Envision economic models.">
      <meta property="og:description" content="Unlock the hidden depths of economics by embracing the power of visualization. Let graphs and charts be your guide, and discover a new world of understanding, analysis, and insight.">
      <meta property="og:image" content="https://econ.vision/img/rsz_hero-3d.png">
      <!-- Twitter -->
      <meta property="twitter:card" content="summary_large_image">
      <meta property="twitter:url" content="https://econ.vision/">
      <meta property="twitter:title" content="Econ.vision - Envision economic models.">
      <meta property="twitter:description" content="Unlock the hidden depths of economics by embracing the power of visualization. Let graphs and charts be your guide, and discover a new world of understanding, analysis, and insight.">
      <meta property="twitter:image" content="https://econ.vision/img/rsz_hero-3d.png">
   </head>
   <body>

        <div class="wrapper bg-gradient-to-b from-[#e8c1f0] to-[#dfd8d5] font-sans min-h-screen scroll-smooth">

            <!-- navbar -->
            {% include "nav.njk" %}
            <!-- content -->
            {{ content | safe }}
            <!-- footer -->
            {% include "footer.njk" %}

        </div><!-- wrapper -->

   </body>
</html>