---
layout: "base.njk"
---
<style>
    section a {
        color: #7C3AED; /* Color value for violet-600 from the Tailwind CSS color palette */
    }
</style>
{% include "nav.njk" %}

<section class="relative mx-1 md:mx-[8rem] min-h-screen pt-[4em] md:pt-[8rem]">
    <h1 class="text-2xl m-4 md:text-4xl text-violet-900 leading-none tracking-tight mb-8"><i class="fas fa-user-friends mr-2"></i>Creators</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-8">
        <div class="backdrop-blur-sm bg-white/60 rounded-lg shadow-lg flex flex-col items-center justify-center relative">
            <div class="relative rounded-full h-12 w-12 -mt-6 md:h-24 md:w-24 md:-mt-12 shadow-lg">
                <img src="{{thumbnail}}" class="absolute rounded-full h-full w-full" alt="{{name}}" />
                <div class="absolute rounded-full opacity-30 h-full w-full bg-violet-900"></div>
            </div>
            <h1 class="text-xl md:text-2xl text-center m-2">{{name}} - {{role}}</h1>
            <div class="text-left whitespace-pre-wrap text-md md:text-xl p-8">
            {{content | safe}}</div>
        </div>		
    </div>
</section>
