---
layout: "base.njk"
---
<style>
    section a {
        color: #7C3AED; /* Color value for violet-600 from the Tailwind CSS color palette */
    }
</style>
<section class="w-full flex flex-row justify-center">
{% include "nav.njk" %}
</section>
<section class="relative mx-1 md:mx-[8rem] min-h-screen pt-[2em] md:pt-[4rem]">
    <h1 class="text-xl m-4 md:text-2xl text-[color:var(--c-1)] leading-none tracking-tight mb-2"><i class="fas fa-user-friends mr-2"></i>Creators</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-8">
        <div class="backdrop-blur-sm bg-white/60 rounded-lg shadow-lg flex flex-col items-center justify-center relative">
        <div class="relative rounded-full w-24 -mt-12 md:w-40 md:-mt-20 lg:w-48 lg:-mt-24 aspect-square  shadow-lg">
                <img src="{{thumbnail}}" class="absolute rounded-3xl h-full w-full" alt="{{name}}" />
                <div class="absolute rounded-3xl opacity-30 h-full w-full bg-violet-900"></div>
            </div>
            <h1 class="text-xl md:text-2xl text-[color:var(--c-3)] text-center m-2">{{name}} - {{role}}
                <div class="h-[2px] bg-gradient-to-r from-transparent via-[color:var(--c-3)] to-transparent inset-0"></div>
            </h1>
            <div class="text-left whitespace-pre-wrap text-md md:text-xl px-8">
            {{content | safe}}</div>
        </div>		
    </div>
</section>
