

               <div id="calculator" class="fixed w-full w-full h-full md:block hidden"></div>


         <script >
             var elt = document.getElementById('calculator');
             var calculator = Desmos.GraphingCalculator(elt);

             calculator.setMathBounds({
				left: -10,
				right: 100,
				bottom: -10,
				top: 100
			});

                        calculator.setGraphSettings({
            backgroundColor: '#232323',
            xAxisLabel: 'Quantity',
            yAxisLabel: 'Price',
            xAxisStep: 10,
            yAxisStep: 10,
            xAxisArrows: true,
            yAxisArrows: true,
            xAxisNumbers: true,
            yAxisNumbers: true,
            xAxisMinorSubdivisions: 1,
            yAxisMinorSubdivisions: 1,
            lockViewport: true,
            expressions: false,
            showGrid: true,
            keypad: false,
				zoomFit: false,
				settingsMenu: false,
            fontSize: 10
            });

       
            calculator.setExpression({id: 'demand', latex: 'D(x) = 50 - x^2/100+a', color: 'rgb(124, 58, 237)'});
calculator.setExpression({id: 'supply', latex: 'S(x) = x^2/100+b', color: 'color: rgb(13, 148, 136);'});


       
             var updateVariable = function (evt) {
               calculator.setExpression({id:'1', latex:'a='+(evt.pageX/100)});
               calculator.setExpression({id:'2', latex:'b='+(evt.pageY/100)});
             };
       
             // Register the callback as a listener on mousemove, and use it to
             // update the values of a and b.
             document.addEventListener('mousemove', updateVariable, true);
         </script>