         <!-- Features Section -->
         <section class="light-section bg-gray-100 py-20">
            <div class="container mx-auto px-6">
               <h1 class="text-2xl md:text-3xl lg:text-4xl text-violet-900 font-semibold mb-10 text-center">Our Features</h1>
               <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                  <div class="scroll-this group bg-white rounded-lg overflow-hidden shadow-lg cursor-pointer transition-all duration-500 ease-in-out transform hover:scale-100">
                     <div class="bg-gradient-to-r from-blue-400 to-purple-500 w-full group-hover:h-auto md:h-full"></div>
                     <div class="p-6">
                        <i class="fas fa-calculator text-4xl text-blue-400 mb-4"></i>
                        <h3 class="text-2xl font-semibold text-gray-800 mb-2">Advanced Math Functions</h3>
                        <p class="text-gray-600 leading-relaxed">Our tool is capable of using advanced mathematical functions in our graphing calculator, offering you complete freedom and flexibility in the input section.</p>
                     </div>
                  </div>
                  <div class="scroll-this group bg-white rounded-lg overflow-hidden shadow-lg cursor-pointer transition-all duration-500 ease-in-out transform hover:scale-100">
                     <div class="bg-gradient-to-r from-green-400 to-yellow-500 w-full group-hover:h-auto md:h-full"></div>
                     <div class="p-6">
                        <i class="fas fa-chart-line text-4xl text-green-400 mb-4"></i>
                        <h3 class="text-2xl font-semibold text-gray-800 mb-2">Interactive Graphing</h3>
                        <p class="text-gray-600 leading-relaxed">Our graph not only displays precise input, but is also highly interactive, allowing you to explore and manipulate the graph for a more in-depth understanding.</p>
                     </div>
                  </div>
                  <div class="scroll-this group bg-white rounded-lg overflow-hidden shadow-lg cursor-pointer transition-all duration-500 ease-in-out transform hover:scale-100">
                     <div class="bg-gradient-to-r from-red-400 to-orange-500 w-full group-hover:h-auto md:h-full"></div>
                     <div class="p-6">
                        <i class="fas fa-info-circle text-4xl text-red-400 mb-4"></i>
                        <h3 class="text-2xl font-semibold text-gray-800 mb-2">Helpful Resources</h3>
                        <p class="text-gray-600 leading-relaxed">We've got you covered with our help section, providing instructions and guidance on how to use our model effectively and make the most out of our tools.</p>
                     </div>
                  </div>
               </div>
            </div>
         </section>