<footer class="bg-transparent p-4 md:h-[160px] text-[color:var(--c-1)] relative flex flex-col justify-end">
  <div id="footer" class="container mx-auto px-6
  [&_a]:text-[color:var(--c-1)] hover:[&_a]:decoration-dotted hover:[&_a]:text-[color:var(--c-1)] [&_a]:transition-colors [&_a]:duration-300">
    <div class="grid grid-cols-1 md:grid-cols-2 grid-rows-2 gap-4 items-center">
      <div class="self-end row-span-2 bg-[color:var(--c-1)] w-fit px-4 py-2 rounded-lg">
        <img src="https://econ.vision/assets/img/econdepartment.png" alt="Logo" class="mx-auto md:mx-0 w-48 md:w-auto" />
      </div>
      <div class="flex flex-col md:flex-row justify-center md:justify-end space-y-2 md:space-y-0 md:space-x-6">
        <a href="/page/about" class="text-sm">About Us</a>
        <a href="/page/contact" class="text-sm">Contact</a>
      </div>
      <div class=" text-xs md:text-sm text-center md:text-right mt-4">&copy; Copyright <a class="" href="mailto:rp3038@columbia.edu">Radi Pisakhov GS’23</a> v1.0</div>
    </div>
  </div>
</footer>