<footer class="bg-gradient-to-t from-violet-900 via-violet-900 to-transparent p-4 md:h-[160px] text-white relative flex flex-col justify-end">
  <div id="footer" class="container mx-auto px-6">
    <div class="grid grid-cols-1 md:grid-cols-2 grid-rows-2 gap-4 items-center">
      <div class="self-end row-span-2">
        <img src="https://econ.vision/assets/img/econdepartment.png" alt="Logo" class="mx-auto md:mx-0 w-48 md:w-auto" />
      </div>
      <div class="md:visible invisible flex flex-col md:flex-row justify-center md:justify-end space-y-2 md:space-y-0 md:space-x-4">
        <a href="/page/about" class="text-white hover:text-violet-300 transition-colors duration-300">About Us</a>
        <a href="/page/contact" class="text-white hover:text-violet-300 transition-colors duration-300">Contact</a>
      </div>
      <div class="md:visible invisible text-xs md:text-sm text-center md:text-right mt-4">&copy; Copyright <a class="text-white hover:underline hover:decoration-dotted hover:text-violet-300 transition-colors duration-300" href="mailto:rp3038@columbia.edu">Radi Pisakhov GS’23</a> v1.0</div>
    </div>
  </div>
  <div class="md:block hidden absolute opacity-40 left-0 inset-0 h-32 w-full bg-gradient-to-r from-violet-900 via-violet-500 to-transparent transform -skew-y-2 -z-[40]"></div>
</footer>