<footer class="bg-gray-800 p-8 h-[100px] flex items-center text-white relative">
  <div id="footer" class="container mx-auto px-6">
     <div class="relative z-10">
        <div class="flex flex-wrap justify-between items-center">
           <div class="w-full md:w-auto mb-4 md:mb-0">
              <img src="https://econ.vision/assets/img/econdepartment.png" alt="Logo" class="mx-auto md:mx-0" />
           </div>
           <div class="text-center md:text-right w-full md:w-auto">
              <a href="/page/about" class="text-white hover:text-violet-300 transition-colors duration-300 mr-4">About Us</a>
              <a href="/page/contact" class="text-white hover:text-violet-300 transition-colors duration-300">Contact</a>
           </div>
        </div>
        <p class="text-xs md:text-sm text-center md:text-right mt-4">&copy; Copyright <a class="text-white hover:underline hover:decoration-dotted hover:text-violet-300 transition-colors duration-300" href="mailto:rp3038@columbia.edu">Radi Pisakhov GS’23</a> v0.5</p>
     </div>
     <div class="absolute bottom-0 left-0 right-0 h-16 bg-gradient-to-r from-violet-900 via-violet-800 to-transparent transform -skew-y-3 z-0"></div>
  </div>
</footer>

<script>
const scrollers = document.querySelectorAll(".scroller");

// If a user hasn't opted in for recuded motion, then we add the animation
if (!window.matchMedia("(prefers-reduced-motion: reduce)").matches) {
  addAnimation();
}

function addAnimation() {
  scrollers.forEach((scroller) => {
    // add data-animated="true" to every `.scroller` on the page
    scroller.setAttribute("data-animated", true);

    // Make an array from the elements within `.scroller-inner`
    const scrollerInner = scroller.querySelector(".scroller__inner");
    const scrollerContent = Array.from(scrollerInner.children);

    // For each item in the array, clone it
    // add aria-hidden to it
    // add it into the `.scroller-inner`
    scrollerContent.forEach((item) => {
      const duplicatedItem = item.cloneNode(true);
      duplicatedItem.setAttribute("aria-hidden", true);
      scrollerInner.appendChild(duplicatedItem);
    });
  });
}


</script>