<section class="bg-gray-800 relative">
                    <video autoplay muted loop class="h-screen w-screen object-cover fixed opacity-10">
                     <source src="https://econ.vision/assets/img/hero.mp4" type="video/mp4">
                  </video>
  <base class="grid grid-rows-3 gap-4 content-between sticky">
  <div class="bg-violet-600 opacity-40 h-64 w-64 blur-2xl fixed top-0 left-0"></div>
  <div class="bg-cyan-600 opacity-40 h-64 w-64 blur-2xl fixed bottom-0 right-0"></div>
</base>
  <main class="lg:m-8 m-2">
<div class="grid grid-cols-1 grid-rows-1 lg:grid-cols-3 lg:grid-rows-2 gap-2 [&>*]:ring-1 [&>*]:ring-black/5  [&>*]:shadow-md [&>*]:rounded-xl hover:[&>*]:transition-all hover:[&>*]:bg-white/50 [&>*]:duration-300 [&>*]:delay-80 [&>*]:ease-in-out [&>*]:backdrop-blur-sm [&>*]:bg-white/20 [&>*]:p-2 m-2 [&>*]:text-gray-100">
  <div class="lg:col-span-2 lg:row-span-1 lg:row-start-2 h-24">
   <div class="flex flex-row justify-between items-center">
         <img class="w-20" src="https://econ.vision/assets/img/logo.png" alt=""> <h1 class="font-mono	text-4xl text-gray-200">Econ.Vision</h1>
   </div>
  </div>
  <div class="lg:col-span-1 lg:row-span-2">Contact</div>

  <div class="lg:col-span-1 row-span-1 h-72">About</div>
  <div class="lg:col-span-2 row-span-1 h-36 flex flex-row overflow-x-auto gap-8 hover:[&_img]:grayscale-0 hover:[&_img]:shadow-md [&_img]:grayscale">
      <img src="https://econ.vision/assets/img/radi.jpg"
      class="h-full w-auto rounded-full object-cover">

         <img src="https://econ.vision/assets/img/kyla.jpg"
      class="h-full w-auto rounded-full object-cover">

         <img src="https://econ.vision/assets/img/9a8f93cf-d51e-431f-9860-4a72adfcd95f.jpg"
      class="h-full w-auto rounded-full object-cover">

         <img src="https://econ.vision/assets/img/img_0414.jpeg"
      class="h-full w-auto rounded-full object-cover">
  </div>
  <!--Courses-->
<div class="lg:col-span-3 row-span-1 row-end-5 h-fit relative">
<div class="flex flex-col lg:flex-row gap-2 h-full hover:[&>*]:transition-transform [&>*]:duration-300 [&>*]:delay-1000 [&>*]:ease-in-out lg:[&>*]:w-1/3 w-full [&>*]:flex-1 hover:[&>*]:flex-auto">

    <div class="choice items-center overflow-hidden rounded-md bg-cyan-500 text-white p-4">
      <h5 class="text-lg font-bold">Principals of Economics</h5>
      <span class="">
         <ul class="[&_li]:bg-cyan-600 [&_li]:rounded-md [&_li]:flex-auto [&_li]:p-2 grid grid-cols-2 gap-1 items-center flex">
            <li>Exchange economy</li>
            <li>Supply and Demand</li> 
            <li>Elasticity</li>
            <li>Aggregate Demand</li>
            <li>Market Structure</li>  
            <li>Public Goods and Taxes</li>
            <li>Income Tax</li>
            <li>Corporate Taxes</li>
         </ul>
      </span>
    </div>
    <div class="choice items-center overflow-hidden rounded-md bg-teal-500 text-white p-4">
      <h5 class="text-lg font-bold">Intermediate Microeconomics</h5>
      <span class="">
         <ul>
            <li>Exchange economy</li>
            <li>Supply and Demand</li> 
            <li>Elasticity</li>
            <li>Aggregate Demand and Aggregate Supply</li>
            <li>Market Structure</li>  
            <li>Public Goods and Taxes</li>
            <li>Income Tax</li>
            <li>Corporate Taxes</li>
         </ul>
      </span>
    </div>
    
   <div class="choice items-center overflow-hidden rounded-md bg-sky-500 text-white p-4">
      <h5 class="text-lg font-bold">Public Economy</h5>
      <span class="">
         <ul>
            <li>Exchange economy</li>
            <li>Supply and Demand</li> 
            <li>Elasticity</li>
            <li>Aggregate Demand and Aggregate Supply</li>
            <li>Market Structure</li>  
            <li>Public Goods and Taxes</li>
            <li>Income Tax</li>
            <li>Corporate Taxes</li>
         </ul>
      </span>
    </div>


</div>


</div>
</main>
</section>

