<section class="dark-section bg-fixed bg-center bg-cover h-screen" style="background-image:url('https://econ.vision/img/hero-flat.png');">
            <div class="bg-gray-900 bg-opacity-75 h-screen flex flex-col justify-center items-center">
               <div class="relative">
                  <video autoplay muted loop class="h-screen w-screen object-cover">
                     <source src="https://static.videezy.com/system/resources/previews/000/056/253/original/20201011_savings_27.mp4" type="video/mp4">
                  </video>
                  <div class="absolute inset-0 bg-black opacity-50"></div>
                  <div class="absolute inset-0 flex items-center justify-center">
                     <div class="text-center text-white">
                        <div id="mainlogo" class="text-5xl font-bold leading-tight mb-2"> </div>
                        <p class="text-lg md:text-xl mb-4 text-center font-light whitespace-pre-line">Unlock the hidden depths of economics by embracing the power of visualization.
                           Let graphs and charts be your guide, and discover a new world of understanding, analysis, and insight.
                        </p>
                        <a href="#courses" class="bg-violet-700 hover:bg-violet-900 text-white font-bold py-3 px-6 rounded">Get Started</a>
                     </div>
                  </div>
               </div>
            </div>
         </section>