<nav class="p-6 w-full z-40 fixed top-0 flex items-center justify-between backdrop-blur-[3px] bg-white/1 h-16 md:h-16 lg:h-24 xl:h-32">
   <div class="md:col-span-1 md:row-span-1 flex flex-row justify-normal items-center">
      <div class="flex justify-center">
            <img class="w-24 md:w-32 lg:w-36 saturate-200" src="/assets/img/__econ.png" alt=""> 
      </div>
     </div>
   
   </nav>



