---
layout: "base.njk"
---
<style>
    section a {
        color: #7C3AED; /* Color value for violet-600 from the Tailwind CSS color palette */
    }
</style>

{% include "nav.njk" %}

<section class="relative mx-1 md:mx-[8rem] min-h-screen pt-[4em] md:pt-[8rem]">

<h1 class="text-lg md:text-xl lg:text-2xl text-violet-900 font-medium leading-tight tracking-tight border-b-2 border-violet-400 mb-8 pb-2"><i class="{{icon}} mr-2"></i>{{title}}</h1>
<div class="grid grid-cols-1 mb-8">        
    <div class="backdrop-blur-sm bg-white/60 rounded-lg shadow-lg flex flex-col items-center justify-center relative text-md md:text-lg">
        <div class="gap-x-3 m-8 flex flex-col relative w-full">
        {{content | safe}}
        </div>
    </div>		
</div>
</section>