---
title: Econ.vision
layout: 'base.njk'
---

{% include "hero.njk" %}
{% include "features.njk" %}
{% include "desmos.njk" %}
{% include "stats.njk" %}
<!-- courses -->
{% include "courses.njk" %}
{% include "about.njk" %}
{% include "contact.njk" %}