---
title: Econ.vision
layout: 'base.njk'
---
<video autoplay muted loop class="inset-0 h-screen w-screen object-cover snap-start fixed">
  <source src="./assets/img/hero.mp4" type="video/mp4">
</video>
<!-- {% include "desmos.njk" %} -->

<section class="relative bg-center bg-fixed snap-y snap-mandatory">


<div class="grid grid-rows-3 gap-8 content-between fixed">
<div class="saturate-200 bg-violet-600 opacity-100 aspect-square w-1/2 blur-[200px] fixed top-0 left-0 rounded-full"></div>
<div class="saturate-200 bg-cyan-600 opacity-100 aspect-square w-1/2  blur-[200px] fixed bottom-0 right-0 rounded-full"></div>
</div>
  <main class="lg:mx-[10%] md:mx-4 mx-0 snap-start">


<div class="grid grid-cols-1 grid-rows-1 md:grid-cols-3 md:grid-rows-2 lg:gap-4 md:gap-3 gap-2 [&>*:not(:first-child)]:ring-1 [&>*]:ring-white/20  [&>*:not(:first-child)]:shadow-[-2px_-2px_6px_rgba(255,255,255,0.2),2px_2px_6px_rgba(0,0,0,0.2)] md:[&>*]:rounded-md [&>*]:rounded-md hover:[&>*]:transition-all md:hover:[&>*:not(:first-child)]:bg-transparent [&>*]:duration-300 [&>*]:delay-80 [&>*]:ease-in-out [&>*]:backdrop-blur-[1px] [&>*:not(:first-child)]:bg-white/10 [&>*]:p-2 m-2 [&>*]:text-gray-100">
  <!-- LOGO -->
  <div class="md:col-span-1 md:row-span-2 flex flex-row items-center justify-center">
    <div class="flex justify-center">
      <img class="w-24 md:w-32 lg:w-36 saturate-200" src="./assets/img/__econ.png" alt=""> 
    </div>
  </div>
    <!-- LOGO -->

  <!-- ABOUT -->
  <div class="font-light text-sm md:text-xl lg:text-[2rem] md:col-span-2 row-span-2 text-center text-transparent flex md:flex-col flex-row justify-evenly items-center">
   <h1 class="saturate-200 w-full tracking-wide antialiased leading-loose bg-clip-text text-transparent bg-gradient-to-b from-teal-300 via-cyan-400 to-blue-400 select-none">Smart Learning Through Interactive Economics...</h1>
   <button class="bg-violet-500 hover:bg-violet-400 text-white md:py-2 md:px-4 md:border-b-4 py-1 px-2 border-b-2 border-violet-700 hover:border-violet-500 rounded">
      Learn more
    </button>
</div>
  <!-- ABOUT -->



    <!--Courses-->
<div class="md:col-span-3 row-span-1 h-[400px] min-h-[400px]">
  <div class="
  flex flex-col md:flex-row gap-2 [&>*]:transition-all [&>*]:duration-500 [&>*]:delay-1000 [&>*]:ease-in-out md:[&>*]:w-[100%] md:[&_div]:min-w-10 [&_div]:h-[100%] [&_div]:min-h-10 h-full w-full [&>*]:flex-1 first:[&>*]:flex-auto">

   {% for course in collections.index %}
      <div class="saturate-200 choice md:hover:[&_h5]:bg-{{course.data.color}}-700 items-center overflow-hidden rounded-md bg-{{course.data.color}}-500 text-white relative">
         <h5 class="p-2 rounded-md text-lg font-semibold md:[writing-mode:vertical-lr] sticky z-20 top-0 cursor-pointer md:left-0 md:h-full bg-{{course.data.color}}-500">{{ course.data.title }}</h5>
         <span class="">
            <ul class="
            md:left-12 md:top-0 top-10 absolute z-10 animate-pulse [&_li]:bg-{{course.data.color}}-600 hover:[&_li]:bg-{{course.data.color}}-700 [&_li]:rounded-md [&_li]:flex-auto hover:[&_li]:shadow-lg grid md:grid-cols-2 grid-cols-1 gap-2 items-center flex p-8 w-full md:w-[94%]">
               {% for model in collections[course.data.tag] %}
            <li class="relative group">
                <img src="{{ model.data.thumbnail }}" alt="{{ model.data.title }}" class="invisible w-full h-32 object-cover rounded-md transform transition-all duration-500" />
                <div class="shadow-md absolute inset-0 bg-gradient-to-t from-50% group-hover:from-0% from-{{course.data.color}}-800/40 to-transparent p-4 rounded-md transition-colors transition-all duration-1000">
                  <h2 class="invisible text-{{course.data.color}}-50 font-extralight p-2 rounded-md bg-{{course.data.color}}-600 saturate-200 group-hover:saturate-100 group-hover:bg-{{course.data.color}}-700 md:text-md text-xs transition-colors duration-200 group-hover:text-{{course.data.color}}-50 transition-transform duration-400">{{ model.data.title }}</h2>
                </div>
                <a href="{{ model.url }}" class="absolute inset-0"></a>
              </li>
            
            {% endfor %}
            </ul>
         </span>
      </div>
   {% endfor %}

  </div>


</div>



<div class="col-span-1 md:col-span-2">
  <div class="grid grid-cols-3 gap-2">
    <ul id="tabs" class="shadow-md [&_li]:p-2 [&_li]:rounded-md absolute [&_li]:z-20 [&_li]:cursor-pointer
    col-span-1 flex flex-col p-1 list-none rounded-lg text-xs md:text-md text-sky-900 saturate-200 bg-sky-500 relative">
      <li class="tab active" data-target="math">
        <i class="fas fa-calculator"></i>
        Advanced Functions</li>
      <li class="tab" data-target="graph">
        <i class="fas fa-chart-line"></i>
        Interactive Graphing</li>
      <li class="tab" data-target="help">
        <i class="fas fa-info-circle"></i>
        Helpful Resources</li>
      <div id="highlight" class="absolute shadow-md h-content z-10 w-[96%] left-0 ml-1 m-auto bg-sky-100 rounded-md opacity-100 transition-all duration-300"></div>
    </ul>
    <div class="col-span-2 p-5 text-sm md:text-md rounded-md shadow-[1px_1px_10px_rgba(0,0,0,0.2),-1px_-1px_10px_rgba(255,255,255,0.2)]">
      <div id="math" class="content active">Our tool is capable of using advanced mathematical functions in our graphing calculator, offering you complete freedom and flexibility in the input section.</div>
      <div id="graph" class="content hidden">Our graph not only displays precise input, but is also highly interactive, allowing you to explore and manipulate the graph for a more in-depth understanding.</div>
      <div id="help" class="content hidden">We've got you covered with our help section, providing instructions and guidance on how to use our model effectively and make the most out of our tools.</div>
    </div>
</div>

<script>
document.querySelectorAll('.tab').forEach(button => {
  button.addEventListener('click', () => {
    const highlight = document.getElementById('highlight');
    highlight.style.top = `${button.offsetTop}px`;
    highlight.style.height = `${button.offsetHeight}px`;
  });

  button.addEventListener('click', () => {
    document.querySelectorAll('.tab').forEach(btn => btn.classList.remove('active'));
    button.classList.add('active');
    const target = button.dataset.target;
    document.querySelectorAll('.content').forEach(content => {
      if (content.id === target) {
        content.classList.remove('hidden');
        content.classList.add('active', 'block');
      } else {
        content.classList.add('hidden');
        content.classList.remove('active', 'block');
      }
    });
  });
});

window.addEventListener('load', () => {
  const activeTab = document.querySelector('.tab.active');
  const highlight = document.getElementById('highlight');
  highlight.style.top = `${activeTab.offsetTop}px`;
  highlight.style.height = `${activeTab.offsetHeight}px`;
});
</script>

</div>







  <div class="md:col-span-1 row-span-1 h-18 flex items-center">

   <div class="scroller flex justify-between items-center" data-speed="slow">
      <ul class="scroller__inner text-sm flex flex-row h-full items-center justify-between [&_li]:bg-violet-600 [&_li]:w-auto [&_li]:p-2 [&_li]:rounded-md">
        <li>Supply</li>
        <li>Demand</li>
        <li>Inflation</li>
        <li>Recession</li>
        <li>Trade</li>
        <li>Monopoly</li>
        <li>Scarcity</li>
        <li>Equity</li>
        <li>Efficiency</li>
        <li>Stability</li>
        <li>Growth</li>
        <li>Deficit</li>
        <li>Surplus</li>
        <li>Interest</li>   
        </ul>
    </div>
 


</div>
     <!-- CREATORS -->
     <div class="md:col-span-1 row-span-1 md:h-full h-28 flex items-center">

      <div class="scroller" data-direction="right" data-speed="slow">
            <div class="
            scroller__inner md:h-32 h-24 flex flex-row gap-8 hover:[&_img]:grayscale-0 hover:[&_img]:shadow-md [&_img]:grayscale [&_img]:rounded-full [&_img]:h-full [&_img]:object-cover">
   
           <img src="https://econ.vision/assets/img/radi.jpg" alt="Radi" class=""/>
           <img src="https://econ.vision/assets/img/kyla.jpg" alt="Kyla" class="" />
           <img src="https://econ.vision/assets/img/elea.jpg" alt="Elea" class="" />
           <img src="https://econ.vision/assets/img/joy.jpg" alt="Joy" class="" />
         </div>
       </div>
       
   
     </div>
        <!-- CREATORS -->

  <!-- GET IN TOUCH -->
  <div class="flex flex-row gap-4 justify-end items-center md:col-span-2 md:row-span-1 md:max-h-48 max-h-24">
    <div class="relative z-0 w-1/2 mb-5 group self-end grid gap-2 col-span-2">
      <input type="email" name="floating_email" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-violet-400 appearance-none text-white focus:border-cyan-400 focus:outline-none focus:ring-0 focus:border-cyan-400 peer" placeholder=" " required />
      <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-100 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-violet-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
      <button class="bg-violet-400 text-xs sm:text-sm md:text-md py-2 px-4 rounded-md hover:bg-cyan-400 transition-colors duration-200 md:py-2 md:px-4 lg:py-3 lg:px-6 xl:py-4 xl:px-8">Stay in touch</button>    </div>
    
    <img src="./assets/img/contactus.png" class="row-span-1 col-span-1 saturate-200 h-full aspect-square">
    <h1 class="col-span-1 saturate-200 text-xl lg:text-3xl lg:text-2xl font-bold tracking-wide bg-clip-text text-transparent bg-gradient-to-br from-violet-600 to-violet-400 select-none">GET IN TOUCH</h1>

  </div>
   <!-- GET IN TOUCH -->

</main>
</section>


<script>
// Get all the choice elements
var choices = document.getElementsByClassName('choice');

// Keep track of the currently selected choice
var currentChoice = choices[0];

// Function to handle click event
function handleClick(event) {
    // If there is a currently selected choice, minimize it
    if (currentChoice) {
        currentChoice.style.flex = '1';
        currentChoice.style.overflow = 'hidden';
    }

    // Expand the clicked choice
    event.currentTarget.style.flex = 'auto';

    //replace overflow-hidden for overflow-auto
    event.currentTarget.style.overflow = 'auto';

    // Update the currently selected choice
    currentChoice = event.currentTarget;
}

// Attach the event handler to all choices
for (var i = 0; i < choices.length; i++) {
    choices[i].addEventListener('click', handleClick);
}

// Expand the first choice by default
choices[0].style.flex = 'auto';
choices[0].style.overflow = 'auto';
</script>

<script>
   const scrollers = document.querySelectorAll(".scroller");
   
   // If a user hasn't opted in for recuded motion, then we add the animation
   if (!window.matchMedia("(prefers-reduced-motion: reduce)").matches) {
     addAnimation();
   }
   
   function addAnimation() {
     scrollers.forEach((scroller) => {
       // add data-animated="true" to every `.scroller` on the page
       scroller.setAttribute("data-animated", true);
 
 
     // Make an array from the elements within `.scroller-inner`
     const scrollerInner = scroller.querySelector(".scroller__inner");
     const scrollerContent = Array.from(scrollerInner.children);
 
     // For each item in the array, clone it
     // add aria-hidden to it
     // add it into the `.scroller-inner`
     scrollerContent.forEach((item) => {
       const duplicatedItem = item.cloneNode(true);
       duplicatedItem.setAttribute("aria-hidden", true);
       scrollerInner.appendChild(duplicatedItem);
     });
   });
 }
 
 
 </script>

 <script>
window.addEventListener('load', function() {
    var ulElements = document.getElementsByTagName('ul');
    for(var i = 0; i < ulElements.length; i++) {
        ulElements[i].classList.remove('animate-pulse');

        var imgElements = ulElements[i].getElementsByTagName('img');
        for(var j = 0; j < imgElements.length; j++) {
            imgElements[j].classList.remove('invisible');
        }

        var h2Elements = ulElements[i].getElementsByTagName('h2');
        for(var k = 0; k < h2Elements.length; k++) {
            h2Elements[k].classList.remove('invisible');
        }
    }
});

 </script>


